<mdc-top-app-bar>
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="start" title="App">
      <button mdcTopAppBarNavIcon>
        <mdc-icon>menu</mdc-icon>
      </button>
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section align="end">
      <mdc-icon mdcTopAppBarActionItem>notifications</mdc-icon>
      <mdc-icon mdcTopAppBarActionItem>AS</mdc-icon>

    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>
<div class="demo-app-bar-content" style="background-color: ivory;">
    <div class="demo-grid-ruler mdl-grid">
      <app-drawer></app-drawer>

      <mdc-card class="mdl-cell mdl-cell--10-col">
        <button mdc-button >219</button>
      <button mdc-button class="demo-button-primary">222</button>
      <button mdc-button class="demo-button-primary">333</button>
      <button mdc-button class="demo-button-primary">444</button>
        <router-outlet> </router-outlet>
      </mdc-card>

      </div>
</div>


